In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,3,4,'a'], index=['a','b','c','d','e'])

In [3]:
s

a    1
b    2
c    3
d    4
e    a
dtype: object

In [4]:
pd.Series([1,2,3,4,'a'], index=['a','b','c','d','e'])

a    1
b    2
c    3
d    4
e    a
dtype: object

In [5]:
pd.Series({'carlos': 2000, 'luis':2500, 'sofia': 2500, 'andres': 1500})

carlos    2000
luis      2500
sofia     2500
andres    1500
dtype: int64

In [6]:
salarios = pd.Series({'carlos': 2000, 'luis':2500, 'sofia': 2500, 'andres': 1500})

In [7]:
salarios

carlos    2000
luis      2500
sofia     2500
andres    1500
dtype: int64

In [8]:
salarios.min()

1500

In [9]:
salarios['carlos'] = salarios.min()

In [10]:
salarios

carlos    1500
luis      2500
sofia     2500
andres    1500
dtype: int64

# Data frames

In [11]:
frutas = ['manzana', 'pera', 'limon', 'piña']
frutas

['manzana', 'pera', 'limon', 'piña']

In [12]:
amigos = ['carlos', 'luis', 'sofia', 'andres']
amigos

['carlos', 'luis', 'sofia', 'andres']

In [13]:
pd.DataFrame(amigos)

        0
0  carlos
1    luis
2   sofia
3  andres

In [14]:
pd.DataFrame(amigos, index=frutas)

              0
manzana  carlos
pera       luis
limon     sofia
piña     andres

In [15]:
pd.DataFrame([amigos, frutas])

         0     1      2       3
0   carlos  luis  sofia  andres
1  manzana  pera  limon    piña

In [16]:
df =pd.DataFrame({'amigos': amigos, 'frutas': frutas})
df

   amigos   frutas
0  carlos  manzana
1    luis     pera
2   sofia    limon
3  andres     piña

In [17]:
fechas = pd.date_range('20190101', periods=4)
fechas

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04'], dtype='datetime64[ns]', freq='D')

In [18]:
df.set_index(fechas, inplace=True)

In [19]:
df

            amigos   frutas
2019-01-01  carlos  manzana
2019-01-02    luis     pera
2019-01-03   sofia    limon
2019-01-04  andres     piña

In [20]:
df.index.name = 'Fechas'

In [21]:
df

            amigos   frutas
Fechas
2019-01-01  carlos  manzana
2019-01-02    luis     pera
2019-01-03   sofia    limon
2019-01-04  andres     piña

In [22]:
df.rename(columns={'amigos': 'Amigos', 'frutas':'Frutas'}, inplace=True)

In [23]:
df

            Amigos   Frutas
Fechas
2019-01-01  carlos  manzana
2019-01-02    luis     pera
2019-01-03   sofia    limon
2019-01-04  andres     piña

In [24]:
df['Amigos']

Fechas
2019-01-01    carlos
2019-01-02      luis
2019-01-03     sofia
2019-01-04    andres
Freq: D, Name: Amigos, dtype: object

In [25]:
mask = df['Amigos'] == 'luis'

In [26]:
df[mask]

           Amigos Frutas
Fechas
2019-01-02   luis   pera

In [27]:
df[df['Amigos'] == 'luis']

           Amigos Frutas
Fechas
2019-01-02   luis   pera

In [28]:
df[df['Amigos'] == 'luis']['Frutas']

Fechas
2019-01-02    pera
Freq: D, Name: Frutas, dtype: object

In [29]:
df[df['Amigos'] == 'luis']['Frutas'].values.tolist()

['pera']

In [30]:
df[df['Amigos'] == 'luis']['Frutas'][0]

'pera'

In [31]:
df[df['Amigos'] == 'luis']['Frutas'] = 'sandia'

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [32]:
df

            Amigos   Frutas
Fechas
2019-01-01  carlos  manzana
2019-01-02    luis     pera
2019-01-03   sofia    limon
2019-01-04  andres     piña

In [33]:
df.loc[df['Amigos'] == 'luis', 'Frutas'] = 'naranja'

In [34]:
df.loc['2019-01-02', 'Frutas'] = 'naranja'

In [35]:
df

            Amigos   Frutas
Fechas
2019-01-01  carlos  manzana
2019-01-02    luis  naranja
2019-01-03   sofia    limon
2019-01-04  andres     piña

In [36]:
df.loc[df['Frutas'] == 'limon', 'Amigos']

Fechas
2019-01-03    sofia
Freq: D, Name: Amigos, dtype: object

In [37]:
df.loc[df['Amigos'] == 'sofia', 'Frutas'] = df.loc[df['Amigos'] == 'luis', 'Frutas'][0]

In [38]:
df.loc[df['Amigos'] == 'luis', 'Frutas'][0]

'naranja'

In [39]:
df

            Amigos   Frutas
Fechas
2019-01-01  carlos  manzana
2019-01-02    luis  naranja
2019-01-03   sofia  naranja
2019-01-04  andres     piña

In [40]:
df.iloc[1:,1:]

             Frutas
Fechas
2019-01-02  naranja
2019-01-03  naranja
2019-01-04     piña

In [41]:
df.loc['20190102':'20190103']

           Amigos   Frutas
Fechas
2019-01-02   luis  naranja
2019-01-03  sofia  naranja

In [42]:
df.index.month  == 1

array([ True,  True,  True,  True])

In [43]:
df[df.index.day  == 3]

           Amigos   Frutas
Fechas
2019-01-03  sofia  naranja

In [44]:
df2 = pd.DataFrame({'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D': np.array([3] * 4, dtype='int32'),
                     'E': pd.Categorical(["test", "train", "test", "train"]),
                     'F': 'foo'})

In [45]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [46]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [47]:
df2.set_index(fechas, inplace=True)

In [48]:
df2

              A          B    C  D      E    F
2019-01-01  1.0 2013-01-02  1.0  3   test  foo
2019-01-02  1.0 2013-01-02  1.0  3  train  foo
2019-01-03  1.0 2013-01-02  1.0  3   test  foo
2019-01-04  1.0 2013-01-02  1.0  3  train  foo

In [49]:
df

            Amigos   Frutas
Fechas
2019-01-01  carlos  manzana
2019-01-02    luis  naranja
2019-01-03   sofia  naranja
2019-01-04  andres     piña

# union de dataframes

In [50]:
df + df2

             A Amigos    B   C   D    E    F Frutas
Fechas
2019-01-01 NaN    NaN  NaN NaN NaN  NaN  NaN    NaN
2019-01-02 NaN    NaN  NaN NaN NaN  NaN  NaN    NaN
2019-01-03 NaN    NaN  NaN NaN NaN  NaN  NaN    NaN
2019-01-04 NaN    NaN  NaN NaN NaN  NaN  NaN    NaN

In [51]:
df.append(df2)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

              A  Amigos          B    C    D      E    F   Frutas
2019-01-01  NaN  carlos        NaT  NaN  NaN    NaN  NaN  manzana
2019-01-02  NaN    luis        NaT  NaN  NaN    NaN  NaN  naranja
2019-01-03  NaN   sofia        NaT  NaN  NaN    NaN  NaN  naranja
2019-01-04  NaN  andres        NaT  NaN  NaN    NaN  NaN     piña
2019-01-01  1.0     NaN 2013-01-02  1.0  3.0   test  foo      NaN
2019-01-02  1.0     NaN 2013-01-02  1.0  3.0  train  foo      NaN
2019-01-03  1.0     NaN 2013-01-02  1.0  3.0   test  foo      NaN
2019-01-04  1.0     NaN 2013-01-02  1.0  3.0  train  foo      NaN

In [55]:
df.append(df2,verify_integrity=True)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

ValueError: Indexes have overlapping values: DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04'], dtype='datetime64[ns]', freq=None)

In [58]:
pd.merge(df, df2 , left_index=True, right_index=True)

            Amigos   Frutas    A          B    C  D      E    F
Fechas
2019-01-01  carlos  manzana  1.0 2013-01-02  1.0  3   test  foo
2019-01-02    luis  naranja  1.0 2013-01-02  1.0  3  train  foo
2019-01-03   sofia  naranja  1.0 2013-01-02  1.0  3   test  foo
2019-01-04  andres     piña  1.0 2013-01-02  1.0  3  train  foo

In [60]:
pd.read_csv('mi_archivo.csv')

In [62]:
df_tmp= pd.DataFrame({'cliente': ['juan', 'juan', 'juan', 'carlos', 'carlos'],
             'precio': [101, 411,311,411,554]})
df_tmp

  cliente  precio
0    juan     101
1    juan     411
2    juan     311
3  carlos     411
4  carlos     554

In [64]:
resumen = df_tmp.groupby('cliente').sum()

In [81]:
resumen.index

Index(['carlos', 'juan'], dtype='object', name='cliente')

In [82]:
resumen[resumen.index == resumen.idxmax()[0]]

         precio
cliente
carlos      965

In [68]:
resumen

         precio
cliente
carlos      965
juan        823